# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Dataset (too large for git)
chest_xray/
*.zip

# Model files
*.keras
*.h5
*.pkl

# Output files
*.png
*.csv

# OS files
.DS_Store
Thumbs.db

# Node modules
node_modules/

# IDE
.idea/
.vscode/
*.swp
*.swo
